{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

  <!-- Top -->
  <!-- Main -->
  <div id="main">
	<div class="shell">
	  <!-- Search, etc -->
	  
	  <!-- End Search, etc -->
	  <!-- Content -->
	  <div id="content">
		<!-- Tabs -->
		
		<!-- Tabs -->
		<!-- Container -->
		<div id="container">
		  <div class="tabbed">
			<!-- First Tab Content -->
			<div class="tab-content" style="display:block;">
			  <div class="items">
				<div class="cl">&nbsp;</div>
				<ul>
					{% for obj in dest %}
				  <li>
					<div class="image"> <a href="#"><img src="{{obj.image.url}}" alt="" /></a> </div>
					<p> Brand Name: <a href="#">{{obj.name}}</a> </p>
					<p class="price">Wholesale Price: <strong>{{obj.price}}</strong></p>
					<P>Description <strong>{{obj.description}}</strong></P>
				  </li>
				  {% endfor %}
				<!-------  
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image3.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image4.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image4.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image3.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  ----->
				</ul>
				<div class="cl">&nbsp;</div>
			  </div>
			</div>
			<!-- End First Tab Content -->
			<!-- Second Tab Content -->
			<div class="tab-content">
			  <div class="items">
				<div class="cl">&nbsp;</div>
				<ul>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				</ul>
				<div class="cl">&nbsp;</div>
			  </div>
			</div>
			<!-- End Second Tab Content -->
			<!-- Third Tab Content -->
			<div class="tab-content">
			  <div class="items">
				<div class="cl">&nbsp;</div>
				<ul>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image3.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image3.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image3.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image3.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image4.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image4.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image4.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image4.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image2.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				  <li>
					<div class="image"> <a href="#"><img src="css/images/image1.jpg" alt="" /></a> </div>
					<p> Item Number: <span>125515</span><br />
					  Size List : <span>8/8.5/9.5/10/11</span><br />
					  Brand Name: <a href="#">Adidas Shoes</a> </p>
					<p class="price">Wholesale Price: <strong>53 USD</strong></p>
				  </li>
				</ul>
				<div class="cl">&nbsp;</div>
			  </div>
			</div>
			<!-- End Third Tab Content -->
		  </div>
		  <!-- Brands -->
		
		  <!-- End Brands -->
		  <!-- Footer -->
		 
		  <!-- End Footer -->
		</div>
		<!-- End Container -->
	  </div>
	  <!-- End Content -->
	</div>
  </div>
  <!-- End Main -->
  </body>
  </html>
{% endblock %}